<div class="container">
  <div class="cast flex justify-between flex-wrap gap-3">
    <div *ngFor="let credit of credits" class="actor flex flex-col w-[150px]">
      <div class="actor-image">
        <img [src]="getImageUrl(credit.profile_path)" (error)="handleImageError($event)" class="max-sm:w-[150px] max-sm:h-[150px] max-sm:rounded-full max-sm:object-cover" alt="" />
      </div>
      <div class="mt-5 text-white text-center" >
        {{credit.original_name}}
      </div>
    </div>
  </div>
</div>
