<div
  class="container footer bg-main fixed bottom-0 text-light flex justify-between items-baseline text-sm lg:hidden pr-9"
>
  <div class="flex justify-between w-full ">
    <a
      routerLink="/"
      routerLinkActive="active"
      class="flex gap-2 flex-col justify-center items-center p-2 rounded-3 px-lg-5 col-span-4"
    >
      <img ngSrc="/assets/images/home.svg" alt="icon" height="22" width="20" />
      <p class="text-[#EEEEEE]">Home</p>
    </a>

    <a
      routerLink="search"
      routerLinkActive="active"
      class="flex flex-col justify-center gap-2 items-center p-2 rounded-3 px-lg-5 col-span-4"
    >
      <img ngSrc="/assets/images/search.svg" alt="icon" height="22" width="20" />
      <p class="text-[#EEEEEE]">Search</p>
    </a>

    <a
      routerLink="watch-list"
      routerLinkActive="active"
      class="flex gap-2 flex-col justify-center items-center p-2 rounded-3 px-lg-5 col-span-4"
    >
      <img
        ngSrc="/assets/images/bookmark.svg"
        alt="icon"
        height="22"
        width="20"
      />
      <p class="text-[#EEEEEE]">Watch List</p>
    </a>
  </div>
  <!-- footer link -->
</div>
