<app-loading [isLoading]="isLoading"></app-loading>
<div class="container my-2 flex items-center">
  <app-navigate [title]="title"></app-navigate>
  <p class="text-white text-xl">What do you want to watch?</p>

</div>

<app-search (filterTextChange)="onFilterTextChange($event)"></app-search>

<div *ngIf="movies.length === 0 && filterText.trim() !== ''">
  <app-no-result></app-no-result>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
  <div class="container gap-4 " *ngFor="let movie of movies">
    <app-movie [movie]="movie"></app-movie>
  </div>
</div>

