<div class="  lg:hidden">
  <header class="header py-5">
    <div class=" flex justify-between ">
      <div class="clock">
        <img ngSrc="/assets/images/time.svg" alt="" height="22" width="41"/>
      </div>
      <div class="status-bar flex gap-2">
        <div class="mobile-signal">
          <img ngSrc="/assets/images/mobile-signal.svg" alt="" height="11" width="18"/>
        </div>
        <div class="mobile-signal">
          <img ngSrc="/assets/images/wifi.svg" alt="" height="12" width="16"/>
        </div>
        <div class="mobile-signal">
          <img ngSrc="/assets/images/battery.svg" alt="" height="13" width="25"/>
        </div>
      </div>
    </div>
  </header>

</div>
