<div class="  lg:hidden">
  <header class="header py-5">
    <div class=" flex justify-between ">
      <div class="clock">
        <img src="../../../assets/images/time.svg" alt=""/>
      </div>
      <div class="status-bar flex gap-2">
        <div class="mobile-signal">
          <img src="../../../assets/images/mobile-signal.svg" alt="" />
        </div>
        <div class="mobile-signal">
          <img src="../../../assets/images/wifi.svg" alt="" />
        </div>
        <div class="mobile-signal">
          <img src="../../../assets/images/battery.svg" alt="" />
        </div>
      </div>
    </div>
  </header>

</div>
