<div class="slider-container mt-5">
  <div class="slider-track flex space-x-4 overflow-x-auto hide-scrollbar swiper-container">
    <ng-container *ngFor="let movie of movies; let i = index">
      <div class="swiper-slide slide  w-1/3 md:w-1/5 rounded-lg lg:p-2 xs:p-1 relative">
        <img [src]="getImageUrl(movie.backdrop_path)" class="object-cover rounded-lg xs:h-[200px]" alt="Slide" />
        <span class="slide-number text-9xl absolute left-[-.75rem]  bottom-[-1.75rem] text-[#3A3F47]">{{ i + 1 }}</span>
      </div>
    </ng-container>
  </div>
</div>
