<div class="content mt-7 flex flex-col">
  <div class="movie relative">
    <div>
      <img [src]="getImageUrl(movie.backdrop_path)" class="w-full" alt="" />
    </div>
    <div class="rate-star absolute right-5 bottom-5 bg-[#25283652] p-2 rounded-lg backdrop-[10px]">
      <app-movie-rating [rating]="movie.vote_average" ></app-movie-rating>
    </div>
  </div>
  <div class="container relative h-[100px]">
    <div class="description flex justify-evenly gap-2 items-end">
      <div class="image absolute bottom-[25px] left-[50px]">
        <img [src]="getImageUrl(movie.poster_path)" width="100" height="120" class="object-cover" alt="" />
      </div>
      <div class="title w-[50%] ml-[6rem] mt-5">
        <p class="text-white">{{ movie.title }}</p>
      </div>
    </div>
  </div>
  <div class="movie-info container mt-3">
    <div class="flex justify-around items-center text-[#92929D] text-sm letter-s">
      <app-movie-release-date [release_date]="movie.release_date"> </app-movie-release-date>
      <app-movie-runtime [runtime]="movie.runtime"></app-movie-runtime>
      <app-movie-genre [genres]="genres" class="flex w-[24%]"></app-movie-genre>
    </div>
  </div>
</div>
