<div class="container xs:px-6content mt-7 flex flex-col">
  <div class="movie relative">
    <div>
      <img [src]="getImageUrl(movie.backdrop_path)" class="w-full lg:h-[500px] object-cover" alt="" />
    </div>
    <div class="rate-star absolute right-5 bottom-5 bg-[#25283652] p-2 rounded-lg backdrop-[10px]">
      <app-movie-rating [rating]="movie.vote_average" ></app-movie-rating>
    </div>
  </div>
  <div class="container relative h-[100px]">
    <div class="description flex justify-evenly gap-2 items-end">
      <div class="image absolute bottom-[25px] left-[50px]  lg:w-[200px] lg:h-[230px]">
        <img [src]="getImageUrl(movie.poster_path)"  class=" xs:w-[100px] xs:h-[120px] object-cover" alt="" />
      </div>
      <div class="title w-[40%] lg:w-[60%] ml-[6rem] mt-5">
        <p class="text-white lg:text-2xl lg:font-bold">{{ movie.title }}</p>
      </div>
    </div>
  </div>
  <div class="movie-info container mt-3">
    <div class="flex justify-around lg:justify-center lg:gap-4 items-center text-[#92929D] text-sm letter-s">
      <app-movie-release-date [release_date]="movie.release_date"> </app-movie-release-date>
      <app-movie-runtime [runtime]="movie.runtime"></app-movie-runtime>
      <app-movie-genre [genres]="genres" class="flex w-[24%]"></app-movie-genre>
    </div>
  </div>
</div>
