<div class="navbar-laptop">
  <div class="navbar ">
    <ul class="flex justify-between items-center text-white">
      <div class="flex gap-2 justify-center items-center">
        <a routerLink="/" class="">
          <img ngSrc="/assets/images/dolphin.svg" alt="" height="50" width="50">
        </a>
        <p >YEE</p>
      </div>
      <div class="flex gap-4">
        <a class="flex items-center justify-center gap-2">
          <li routerLink="/search">Search</li>

        </a>
        <a class="flex items-center justify-center gap-2">
          <li routerLink="/watch-list">Watchlist</li>
        </a>
      </div>
    </ul>
  </div>
</div>
